
<div class="content" style="display: block;">
    <div style="padding-top: 115px;" class="container">

        <div class="container">
            <h2> Thông tin cá nhân</h2>
            <div>
                <h3>Email: {{layoutModels.curUser.email }}</h3>
                <h3>Họ tên: {{layoutModels.curUser.hoten }}</h3>
                <h3>Mật khẩu: xxxxxxxxxxxxxxx</h3>
            </div>
        </div>

        <div class="container">
            <h2>Danh sách các sản phẩm yêu thích</h2>


        <table class="table">
            <thead>
                <tr>
                    <th>ID Sản Pham</th>
                    <th>Tên Sản Phẩm</th>
                </tr>
            </thead>
            <tbody>
              {{#each accounts }}
            <tr>
                <td>{{IDPro}}</td>
                <td><a href="/product/productDetail/{{IDPro}}" style="color:black;">{{NamePro}}</a></td>
            </tr>
                {{/each}}
            </tbody>
        </table>

        </div>
    </div>
</div>
</div> <!---end content-->
