{{#section 'title'}}
	Chi tiết sản phẩm
{{/section}}

{{#section 'js'}}
	<script type="text/javascript" src="/assests/js/productDetail/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="/assests/js/productDetail/owl.carousel.js"></script>
	<script type="text/javascript" src="/assests/js/productDetail/jquery.fancybox.js?v=2.1.5"></script>
	<script src="/assests/js/productDetail/jquery.easing.1.3.js"></script>
    <script src="/assests/js/productDetail/productDetail.js"></script> 
	<script src="/assests/js/ckeditor/ckeditor.js"></script>
	<script>	 
		CKEDITOR.replace( 'editor1' );	 
	</script> 
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/jquery.fancybox.css?v=2.1.5" media="screen" />
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/owl.carousel.css"/>
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/owl.theme.css"/>
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/owl.transitions.css"/>
	<link rel="stylesheet" href="/assests/css/productDetail/productDetail.css">
{{/section}}

{{#each products }}
<div class="content" style="display: block;">
		<div  style="padding-top: 115px;" class="sanpham container">
		<div class="row">
			<div class="col-md-4">
	   			 <div class="thumbnail">
	     			 <img class="img-responsive" src="/assests/Images/tui_1.jpg">
	     			 <div class="caption">
	     				   <h4></h4>       
	      			</div>
	   			 </div>
		   </div>
			<div class="col-md-5">
					<h1>{{ProName}}</h1>
					<div class="col-md-12" style="padding: 0 0 0 0">
		                <span class="label label-primary">Hcmus</span>
		                <span class="monospaced">No. {{ProId}}</span>
		            </div>			
					<div>Seller: <a href="#" style="color: #85DB18;">anhkyvo</a></div>
					
					<div>Bắt đầu: 21/05/2017 lúc 12:30</div>
					<div>Kết thúc: 22/05/2017 lúc 13:30</div>
					<div id="demo"></div>
					<div>Giá hiện tại:<span class="label label-lg label-primary">{{number_format Price}}</span></div>
					<div>Người đưa ra cao nhất hiện tại: <a href="#" style="color: #85DB18;">anhkhoi</a> </div>	
					<div>Giá mua ngay: {{number_format Price}}</div>	
					<div>Điểm đánh giá: </div>
					<div id="dathang">
						<form action="">
							<div class="form-group">
								<input type="text" class="form-control" style="width: 350px;" placeholder="Nhập giá bạn muốn đặt">
							</div>
							<button style="width:350px; height: 50px;" class="btn btn-danger pull-left form-control"><span class="glyphicon glyphicon-shopping-cart"></span> Đặt giá</button>	
						</form>
					</div>
			</div>
			<div class="col-md-3">
				<div class="title">
					Danh sách top đấu giá của sản phẩm
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Số tiến</th>
							<th>Thành viên</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{number_format Price}}</td>
							<td>anhkhoi</td>
						</tr>
						<tr>
							<td>{{number_format Price}}</td>
							<td>kimlien</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container chitietsanpham" style="margin-top:30px;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul class="tabs nav nav-pills">
				<a href="#gioithieu"><li class="tab-link current active" data-tab="tab-1">Giới thiệu sản phẩm</li></a>
				<a href="#hinhanh"><li class="tab-link" data-tab="tab-2">Hình ảnh sản phẩm</li></a>
			</ul>
			
			<div id="tab-1" class="tab-content current">

				{{ FullDes }}
				<!-- <ul>
					<li>Chất liệu Da tổng hợp chống thấm nước, chống bong tróc</li>
					<li>Đường may tỉ mỉ và tinh xảo, duy trì độ bền đẹp lâu dài</li>
					<li>Túi gồm 1 ngăn lớn + 3 ngăn nhỏ cho phép cất trữ nhiều vật dụng</li>
					<li>Ví có thiết kế trẻ trung với dây đeo mảnh</li>
					<li>Tiết kiệm chi phí tối ưu so với khi mua lẻ từng món</li>
				</ul> -->

				
			</div>
			<div id="tab-2" class="tab-content">
				<div class="hinhanh">
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<a href="/assests/Images/tui_1.jpg" rel="motnhom"><img class="anhnho" src="/assests/Images/tui_1.jpg" alt=""></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<a href="/assests/Images/tui_1.jpg" rel="motnhom"><img class="anhnho" src="/assests/Images/tui_1.jpg" alt=""></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<a href="/assests/Images/tui_1.jpg" rel="motnhom"><img class="anhnho" src="/assests/Images/tui_1.jpg" alt=""></a>
					</div>
					
				</div>
			</div>	
		</div>
		<div>
			<img src="/images/topnew.png" alt="" class="scrolltop">
		</div>
	</div>
	<div class="container comment" style="padding-top: 10px;">
		<form>
	       <textarea id="editor1" name="editor1" cols="80" rows="7">
	       </textarea>
	          
             <div class="btn btn-success" type="submit">Nhận xét</div>
   		</form>
	</div>
	{{/each}}
	<div class="container sanphamcungloai">
	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>Có thể bạn quan tâm</h3>
          	<div id="owl-demo1">
	          	{{#each layoutVM.products4 }}
				<div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>{{ProName}}</div>
				<!-- <div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>Túi Đeo Chéo Nam Thời Trang D267D (Đen)  </div>
				<div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>Túi xách nữ thời trang DT1039 (Tím)  </div>
				<div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>Túi xách nữ thời trang DT1039 (Xanh)  </div>
				<div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>Túi nữ thời trang phong cách Hàn quốc HQ205955 -3 (Đen)  </div>
				<div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>Túi Đeo Chéo Nam Thời Trang D267N (Nâu)  </div>
				<div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>Túi xách nữ thời trang DT1039 (Ghi)  </div>
				<div class="item1"><a href="#"><img src="/assests/Images/tui_1.jpg" alt="Owl Image"></a>Túi nam da bò thật TNA01 cung cấp bởi THỜI TRANG DA  </div> -->
				{{/each}}
			</div>
		</div>
	
	</div>
	</div>

