{{#section 'title'}}
	Chi tiết sản phẩm
{{/section}}

{{#section 'js'}}
	<script type="text/javascript" src="/assests/js/productDetail/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="/assests/js/productDetail/owl.carousel.js"></script>
	<script type="text/javascript" src="/assests/js/productDetail/jquery.fancybox.js?v=2.1.5"></script>
	<script src="/assests/js/productDetail/jquery.easing.1.3.js"></script>
    <script src="/assests/js/productDetail/productDetail.js"></script> 
	<script src="/assests/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
	CKEDITOR.replace( 'editor1' );

	$(document).ready(function() {
		$('.likeProduct').on('click', function() {			
			$('#likePro').submit();
		});
		$("#tab-1").text(htmlDecode($("#tab-1").text().trim()));

		if($("#isLike").val() != "") {
			$("#likeBtn").css("background-color", "#ff0000");
		}
	});
	function datGia() {
		if(xacNhanDatGia('Bạn có chắc muốn đặt giá?')) {
			var a = $('#txtPrice').val();
			var b = $('#txtPriceNow').val();
			if(a>b){
				$('#updatePro').submit();
			}
			else{
				alert("vui lòng nhập giá cao hơn");
			}
		}
		return false;
	}
	function xacNhanDatGia(msg){
		if(window.confirm(msg)){
			return true;
		}
		return false;
	}
	</script>
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/jquery.fancybox.css?v=2.1.5" media="screen" />
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/owl.carousel.css"/>
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/owl.theme.css"/>
	<link rel="stylesheet" type="text/css" href="/assests/css/productDetail/owl.transitions.css"/>
	<link rel="stylesheet" href="/assests/css/productDetail/productDetail.css">
	<style>
		.anhnho{
			width: 150px;
			height: 150px;
		}
	</style>
{{/section}}

<div class="content" style="display: block;">
	{{#if layoutModels.isLogged }}
		<form method="post" action="/product/like" id="likePro">
				<input id="txtUsers" name="users" value="{{layoutModels.curUser.hoten}}" type="hidden">
				{{#each products }}
				<input id="txtProID" name="proid" value="{{ProID}}" type="hidden">
				<input id="txtProName" name="proname" value="{{ProName}}" type="hidden">
				<input id="txtPriceNow" name="pricenow" value="{{Price}}" type="hidden">
			{{/each}}
		</form>
	{{else}}
		
	{{/if}}
		{{#each products }}
		<div  style="padding-top: 115px;" class="sanpham container">
		<div class="row">
			<div class="col-md-4">
	   			 <div class="thumbnail">
	     			 <img class="img-responsive" src="{{Image1}}">
	     			 <div class="caption">
	     				   <h4></h4>       
	      			</div>
	   			 </div>
		   </div>
			<div class="col-md-5">
					<h1>{{ProName}}</h1>
					<div class="col-md-12" style="padding: 0 0 0 0">
		                <span class="label label-primary">Hcmus</span>
		                <span class="monospaced">No. {{ProID}}</span>
		            </div>			
					<div>Seller: <a href="#" style="color: #85DB18;">{{Seller}}</a></div>
					
					<div>Bắt đầu: {{TimeStart}}</div>
					<div>Kết thúc: {{TimeFinish}}</div>
					<input id="isLike" value="{{LikeID}}" type="hidden">
					<div id="demo"></div>
					<div>Giá hiện tại:<span class="label label-lg label-primary priceNow">{{Price}}</span></div>
						<input class="form-control" id="timefinish" name="timefinish" value="{{TimeFinish}}" type="hidden">
					{{/each}}

					{{#if layoutModels.isLogged }}
						<div class="form-group">
							<a id="likeBtn" href="javascript:;" class="btn btn-default likeProduct" title="like">	
								<span class="glyphicon glyphicon-star-empty"> Like</span>
							</a>
						</div>
					{{else}}
						
					{{/if}}
					<div id="dathang">
					{{#if layoutModels.isLogged }}
						<form action="/product/update" method="post" id="updatePro">
							<div class="form-group">
							{{#each products }}
								<input class="form-control" id="txtPrice" name="price" type="number" style="width: 350px;" value="1" step="10">
							{{/each}}
								<input id="txtbestbuyer" name="bestbuyer" value="{{layoutModels.curUser.hoten}}" type="hidden">
								{{#each products }}
								<input id="txtProID" name="proid" value="{{ProID}}" type="hidden">
								<input id="txtquantity" name="quantity" value="{{Quantity}}" type="hidden">
							{{/each}}
							</div>

						</form>
					{{else}}
					{{/if}}

					{{#if layoutModels.isLogged }}
							<a onclick="return datGia()" style="width:350px; height: 50px;" href="javascript:;"  class="btn btn-danger pull-left updateProduct"><span class="glyphicon glyphicon-shopping-cart"></span> Đặt giá</a>	
					</div>
					{{else}}

					{{/if}}
			</div>

			{{#each products }}
			<div class="col-md-3">			
				<div class="title">
					Thành viên đấu giá cao nhất
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Số tiến</th>
							<th>Thành viên</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{Price}}</td>
							<td>{{BestBuyer}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container chitietsanpham" style="margin-top:30px;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul class="tabs nav nav-pills">
				<a href="#gioithieu"><li class="tab-link current active" data-tab="tab-1">Giới thiệu sản phẩm</li></a>
				<a href="#hinhanh"><li class="tab-link" data-tab="tab-2">Hình ảnh sản phẩm</li></a>
			</ul>
			
			<div id="tab-1" class="tab-content current">
				{{FullDes}}
			</div>
			<div id="tab-2" class="tab-content">
				<div class="hinhanh">
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<a href="{{Image1}}" rel="motnhom"><img class="anhnho" src="{{Image1}}" alt=""></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

						<a href="{{Image2}}" rel="motnhom"><img class="anhnho" src="{{Image2}}" alt=""></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<a href="{{Image3}}" rel="motnhom"><img class="anhnho" src="{{Image3}}" alt=""></a>
					</div>
					
				</div>
			</div>	
		</div>
		<div>
			<img src="/images/topnew.png" alt="" class="scrolltop">
		</div>
	</div>
	<div class="container comment" style="padding-top: 10px;">
		<form>
	       <textarea id="editor1" name="editor1" cols="80" rows="7">
	       </textarea>
	          
             <div class="btn btn-success" type="submit">Nhận xét</div>
   		</form>
	</div>
	{{/each}}
	<div class="container sanphamcungloai">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>Có thể bạn quan tâm</h3>
          	<div id="owl-demo1">
	          	{{#each layoutVM.products4 }}
					<div class="item1"><a href="#"><img src="{{Image1}} " alt="Owl Image"></a>{{ProName}}</div>
				{{/each}}
			</div>
		</div>
	</div>
	</div>

	<script type="text/javascript">
		function htmlEncode(value){
		  return $('<div/>').text(value).html();
		}
		function htmlDecode(value){
		  return $('<div/>').html(value).text();
		}

	</script>

