{{#section 'js'}}
    <script type="text/javascript" src="/assests/js/jquery.simplePagination.js"></script>    
    <script type="text/javascript" src="/assests/js/final.js"></script>    
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" href="/assests/css/final.css">
    <link rel="stylesheet" href="/assests/css/simplePagination.css">
{{/section}}
<div class="container sanpham" style="color: black; padding-top: 115px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="pagination"></div>
        <table class="table table-striped" id="content">
                <thead>
                    <tr>
                    <th>ID Sản phẩm</th>
                    <th>Image</th>
                    <th>Member</th>
                    <th>Sản phẩm</th>
                    <th>Giá thắng</th>
                    </tr>
                </thead>
            <tbody>
             {{#each products }}
                    <tr>
                    <td>{{ProID}}</td>
                    <td><img src="{{Image1}}" alt=""></td>
                    <td>{{BestBuyer}}</td>
                    <td><a  href="/product/productDetail/{{ProID}}" style="color:black;">{{ProName}}</a></td>
                    <td>{{Price}}</td>
                    </tr>
             {{/each}}
            </tbody>
        </table> 
            <div class="pagination-page" style="margin: 0 400px;"></div>
    </div>
</div>